@font-face {
	font-family: 'Pictos';
	src: url('/fonts/pictos-web.eot');
	src: local('?'), url('/fonts/pictos-web.woff') format('woff'), url('/fonts/pictos-web.ttf') format('truetype'), url('/fonts/pictos-web.svg#webfontIyfZbseF') format('svg');
	font-weight: normal;
	font-style: normal;
}
