<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--
    <add key="SMTPHost" value="mail.wbsrecords.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPUser" value="Wal-Mart@wbsrecords.com"/>
    <add key="SMTPPass" value="kua28n69"/>
    <add key="SMTPSender" value="Wal-Mart Associate Discounts &lt;Wal-Mart@wbsrecords.com&gt;" />
    <add key="SMTPRecipient" value="NAS-Sponsorship &lt;Nas-sponsorship@cingular.com&gt;" />
    <add key="SMTPCC" value="Rick Stapp &lt;r.stapp@wbsrecords.com&gt;" />
    <add key="SMTPBCC" value=" />
    -->
    
    <add key="SMTPHost" value="mail.wbsrecords.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPUser" value="Wal-Mart@wbsrecords.com"/>
    <add key="SMTPPass" value="kua28n69"/>
    <add key="SMTPSender" value="Wal-Mart Associate Discounts &lt;Wal-Mart@wbsrecords.com&gt;" />
    <add key="SMTPRecipient" value="Rick Stapp &lt;wmreport@wbsrecords.com&gt;" />
    <add key="SMTPCC" value="Scott Heaney &lt;scotth@partnerssolutions.net&gt;" />
    <add key="SMTPBCC" value="" />
    
  </appSettings>
  <connectionStrings>
    <add name="SQLCnx" connectionString="Server=SCOTT\SQLExpress;Database=WBSTest;uid=wbs;pwd=wbs;" />
  </connectionStrings>
</configuration>