# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymlinks
RewriteEngine on

Redirect 301 home.php?page_name=Contact http://www.marmiro.com/?sec=contact
Redirect 301 /home_full.php?page_name=Residential http://www.marmiro.com/?sec=residential
Redirect 301 /home.php?page_name=Marmiro-Literature http://www.marmiro.com/?sec=trends&tab=marmiro%20literature
Redirect 301 /details.php?page_name=Thick-Pavers&pid=477&pageid=481&PHPSESSID=2719065f939ad59171f7947b25c95846 http://www.marmiro.com/?sec=products&prod=pavers&tab=marble
Redirect 301 /product_detail.php?name=Rosso%20Laguna%20&id=16&catid=8&proid=136&PHPSESSID=d69b156907b524c451aac6676aeaa79c http://www.marmiro.com/?sec=products&prod=tiles&tab=marble
Redirect 301 /product_detail.php?name=Grano&id=17&catid=8&proid=53&PHPSESSID=af0baf6759bac286239b5575c0bd3d1e http://www.marmiro.com/?sec=products&prod=tiles&tab=travertine
Redirect 301 /product_detail.php?name=Indian%20Autumn&id=18&catid=8&proid=55&PHPSESSID=16c8afd0516c3988d45bb0e2f6a0ffbd http://www.marmiro.com/?sec=products&prod=tiles&tab=slate
Redirect 301 /product_detail.php?name=Chocolate&id=57&catid=18&proid=57 http://www.marmiro.com/?sec=products&prod=tiles&tab=slate
Redirect 301 /home.php?page_name=About-Us http://www.marmiro.com/?sec=aboutus
Redirect 301 /product_detail.php?name=Terra&id=22&catid=12&proid=72&PHPSESSID=12389e2d992451214a8369f704d88be5 http://www.marmiro.com/?sec=products&prod=tiles&tab=travertine
