/*Black*/
.tinyBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:7px;	color:#000000; text-decoration:none;}
A.tinyBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:7px; color:#000000; text-decoration:none;}
A.tinyBlack:hover {color:Red; text-decoration:underline;}
A.tinyBlack:active {color:Red;}
A.tinyBlack:visited {color:#000000;}
A.tinyBlack:visited:hover {color:Red; text-decoration:underline;}

.smallBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:9px;	color:#000000; text-decoration:none;}
A.smallBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:9px; color:#000000; text-decoration:none;}
A.smallBlack:hover {color:Red; text-decoration:underline;}
A.smallBlack:active {color:Red;}
A.smallBlack:visited {color:#000000;}
A.smallBlack:visited:hover {color:Red; text-decoration:underline;}

.bodyBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px;	color:#000000; text-decoration:none;}
A.bodyBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#000000; text-decoration:none;}
A.bodyBlack:hover {color:Red; text-decoration:underline;}
A.bodyBlack:active {color:Red;}
A.bodyBlack:visited {color:#000000;}
A.bodyBlack:visited:hover {color:Red; text-decoration:underline;}

.fancyBlack {font-family:fantasy,Verdana,Arial,Helvetica,sans-serif; font-size:12px;	color:#000000; text-decoration:none;}
A.fancyBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#000000; text-decoration:none;}
A.fancyBlack:hover {color:Red; text-decoration:underline;}
A.fancyBlack:active {color:Red;}
A.fancyBlack:visited {color:#000000;}
A.fancyBlack:visited:hover {color:Red; text-decoration:underline;}

.bigBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; color:#000000; text-decoration:none;}
A.bigBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; color:#000000; text-decoration:none;}
A.bigBlack:hover {color:Red; text-decoration:underline;}
A.bigBlack:active {color:Red;}
A.bigBlack:visited {color:#000000;}
A.bigBlack:visited:hover {color:Red; text-decoration:underline;}

.biggerBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:15px; color:#000000; text-decoration:none;}
A.biggerBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:15px; color:#000000; text-decoration:none;}
A.biggerBlack:hover {color:Red; text-decoration:underline;}
A.biggerBlack:active {color:Red;}
A.biggerBlack:visited {color:#000000;}
A.biggerBlack:visited:hover {color:Red; text-decoration:underline;}

.xbigBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:16px; color:#000000; text-decoration:none;}
A.xbigBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:16px; color:#000000; text-decoration:none;}
A.xbigBlack:hover {color:Red; text-decoration:underline;}
A.xbigBlack:active {color:Red;}
A.xbigBlack:visited {color:#000000;}
A.xbigBlack:visited:hover {color:Red; text-decoration:underline;}

.superBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:18px; color:#000000; text-decoration:none;}
A.superBlack {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:18px; color:#000000; text-decoration:none;}
A.superBlack:hover {color:Red; text-decoration:underline;}
A.superBlack:active {color:Red;}
A.superBlack:visited {color:#000000;}
A.superBlack:visited:hover {color:Red; text-decoration:underline;}

.titleBlack {font-family: Arial, Helvetica, sans-serif;	font-size: 24px; font-weight: bold;	color: #000000;}

.verticalLabelBlack {font-family: Arial, Helvetica, sans-serif;	font-size: 12px; color: #000000; writing-mode: tb-rl; filter: flipv fliph;}
.smallVerticalLabelBlack {font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; writing-mode: tb-rl; filter: flipv fliph;}


/*White*/
.tinyWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:8px;	color:#FFFFFF; text-decoration:none;}
A.tinyWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:8px; color:#FFFFFF; text-decoration:none;}
A.tinyWhite:hover {color:Red; text-decoration:underline;}
A.tinyWhite:active {color:Red;}
A.tinyWhite:visited {color:#FFFFFF;}
A.tinyWhite:visited:hover {color:Red; text-decoration:underline;}

.smallWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:9px;	color:#FFFFFF; text-decoration:none;}
A.smallWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:9px; color:#FFFFFF; text-decoration:none;}
A.smallWhite:hover {color:Yellow; text-decoration:underline;}
A.smallWhite:active {color:Yellow;}
A.smallWhite:visited {color:#FFFFFF;}
A.smallWhite:visited:hover {color:Yellow; text-decoration:underline;}

.bodyWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px;	color:#FFFFFF; text-decoration:none;}
A.bodyWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#FFFFFF; text-decoration:none;}
A.bodyWhite:hover {color:Red; text-decoration:underline;}
A.bodyWhite:active {color:Red;}
A.bodyWhite:visited {color:#FFFFFF;}
A.bodyWhite:visited:hover {color:Red; text-decoration:underline;}

.bigWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; color:#FFFFFF; text-decoration:none;}
A.bigWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:14px; color:#FFFFFF; text-decoration:none;}
A.bigWhite:hover {color:Red; text-decoration:underline;}
A.bigWhite:active {color:Red;}
A.bigWhite:visited {color:#FFFFFF;}
A.bigWhite:visited:hover {color:Red; text-decoration:underline;}

.biggerWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:15px; color:#FFFFFF; text-decoration:none;}
A.biggerWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:15px; color:#FFFFFF; text-decoration:none;}
A.biggerWhite:hover {color:Red; text-decoration:underline;}
A.biggerWhite:active {color:Red;}
A.biggerWhite:visited {color:#FFFFFF;}
A.biggerWhite:visited:hover {color:Red; text-decoration:underline;}

.xbigWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:16px; color:#FFFFFF; text-decoration:none;}
A.xbigWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:16px; color:#FFFFFF; text-decoration:none;}
A.xbigWhite:hover {color:Red; text-decoration:underline;}
A.xbigWhite:active {color:Red;}
A.xbigWhite:visited {color:#FFFFFF;}
A.xbigWhite:visited:hover {color:Red; text-decoration:underline;}

.superWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:18px; color:#FFFFFF; text-decoration:none;}
A.superWhite {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:18px; color:#FFFFFF; text-decoration:none;}
A.superWhite:hover {color:Red; text-decoration:underline;}
A.superWhite:active {color:Red;}
A.superWhite:visited {color:#FFFFFF;}
A.superWhite:visited:hover {color:Red; text-decoration:underline;}

.titleWhite {font-family: Arial, Helvetica, sans-serif;	font-size: 24px; font-weight: bold;	color: #FFFFFF;}

.verticalLabelWhite {font-family: Arial, Helvetica, sans-serif;	font-size: 12px; color: #FFFFFF; writing-mode: tb-rl; filter: flipv fliph;}
.smallVerticalLabelWhite {font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF; writing-mode: tb-rl; filter: flipv fliph;}


/*Green*/
.menuGreen {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px;	color:#224221; text-decoration:none;}
A.menuGreen {font-family:Verdana,Arial,Helvetica,sans-serif; font-size:12px; color:#224221; text-decoration:none;}
A.menuGreen:hover {color:Red; text-decoration:underline;}
A.menuGreen:active {color:Red;}
A.menuGreen:visited {color:#224221;}
A.menuGreen:visited:hover {color:Red; text-decoration:underline;}


/*Cells*/
.cellBlack {background-color: #000000;}
.cellLtBlack {background-color: #666666;}
.cellDkGray {background-color: #CCCCCC;}
.cellXDkGray {background-color: #888888;}
.cellLtGray {background-color: #E0E0E0;}
.cellXLtGray {background-color: #F8F8F8;}
.cellWhite {background-color: #FFFFFF;}
.cellRed {background-color: #FF0000;}
.cellYellow {background-color: #FFFF00;}
.cellMaroon {background-color: #800000;}
.cellCream {background-color: #FFFFCC;}
.cellFrost {background-color: #FFFFFF; filter:alpha(opacity=70); style:1;}
.cellFrostxxx {background-color: #FFFFFF; filter:alpha(opacity=65); -moz-opacity:.65; opacity:.65; style:1;}
.cellFrostGray {background-color: #E0E0E0; filter:alpha(opacity=65); style:1;}
.cellFrostCont {position:relative;}
