/* --- menu styles ---
note:
	not all browsers render styles the same way so try out your style sheet
	on different browsers before publishing;
*/
/* level 0 inner */
.m0l0iout {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 4px;
	color: #FFFFFF;
}
.m0l0iover {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 4px;
	color: #FFFF00;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	border : 2px transparent; 
	background: tranparent;
}
.m0l0oover {
	text-decoration : none;
	border : 2px transparent;
	background: #DD555E;
}

/* level 1 inner */
.m0l1iout {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
}
.m0l1iover {
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration : none;
	padding: 4px;
	color: #000000;
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
	border : 2px solid #B7484F;
	background: #DD555E;
	filter: alpha(opacity=100);
}
.m0l1oover {
	text-decoration : none;
	border : 2px solid #B7484F;
	background: #FFFF00;
}

/* level 2 inner */
.m0l2iout {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding: 4px;
	color: #000000;
}
.m0l2iover {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration : none;
	padding: 4px;
	color: #000000;
}

/* level 2 outer */
.m0l2oout {
	text-decoration : none;
	border : 1px solid #000000;
	background: #FFFFFF;
}
.m0l2oover {
	text-decoration : none;
	border : 1px solid #000000;
	background: #FFFF00;
}