@charset "utf-8";
/* CSS Document */

.roundedCorners {border-radius:15px 15px 15px 15px; -moz-border-radius:15px 15px 15px 15px;}

html, body {
	height: 700px;
	margin:0;
	padding: 0;
	background-repeat:no-repeat;
	background-position:top;	
}

.logo
{
	vertical-align:top;
}

h1
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 22px;
	color: #021e63;
	font-style: italic;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-shadow:0px 0px 3px #fff;

}
h2
{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-weight: bold;
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #021e63;
font-size:15px;
}

h3
{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size:14px;
color:28469e;
}

h4
{
	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #00125a;
	font-weight: bolder;
	text-align: center;

}

h5
{
	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#333333;
	font-weight: bolder;

}

h6
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #666666;	
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #666666;
}
a:hover {
	text-decoration: underline;
	color: #666666;
}
a:active {
	text-decoration: none;
	color: #333333;}


.spring {
	
	padding-top: 5px;	
}
.c_table {
	height: 270px;
	margin-top: 5px;
	z-index: 10;
}
.main_div {

	background-color: #999999;
}



.learn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.youtube_link {
	color: #666666;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	padding-top: 10px;
	padding-left: 8px;
	padding-right: 8px;
	text-transform: uppercase;
}


.Fashion {
	
	padding-top: 25px;
	vertical-align: bottom;
	
}
.Fashion-l {
	padding-top: 10px;
	vertical-align: bottom;
	position: absolute;
	width: 100%;
	top: 500px;
	z-index: 4;
}

.email {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 35px;
	vertical-align: bottom;
	color: #333333;
}
#telContainer {
	font-size: 10;
	width: 867px;
	text-align: right;
	vertical-align: bottom;
	padding-top: 12px;
	padding-bottom: 7px;
}

span#tel {
	padding-right: 10px;
}

#headContainer {
	width: 867px;
	height: 34px;
	background-color: #333333;
}

.headTable {
	width: 100%;
	height: 34px;
}

.headTable td {
	/*width: 33%;*/	
}

td#TrunkShow {
	padding-left: 10px;
	font-size: 12px;
}

td#FollowUs {
	vertical-align: middle;
	text-align: center;
	vertical-align: middle;
	padding-left: 100px;
}
td#FollowUs div {
	margin-top: 5px;
	margin-right: 5px;
	position:relative;
	float: left;
}

td#FollowUs img {
	line-height:16px;
	position:relative;
	float: left;
	border: 0;
}

#joinMail {
/*	padding-left: 5px;*/
}
#joinMail input {
	border: 0;
	color: #666;
	cursor: pointer;
	background-color: #FFFFFF;
/*	background-color: #d8d5d5;*/
/*	margin-right: 10px;*/
}
.joinMail {
/*	margin-top: 2px;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#contentContainer {
	width: 798px;
	margin: 0 auto;
	border: 1px #c5c6c7 solid;
}

div#headContent {
	width: 720px;
	margin: 0 auto;
	text-align: center;
}

div#title {
	font-size: 24px;
	padding-top: 20px;	
	color: #ffffff;
	letter-spacing: 4pt;
	font-family: "Times New Roman", Arial, Tahoma, Verdana, sans-serif, Lucida Sans;
}

div#desc {
	font-size: 14px;
	color: #c0c0c0;
	padding-bottom: 20px;
	margin-top: 5px;
}

div#imgContent {
	width: 801px;
	height: 409px;
	margin: 0 auto;
	background:url("/img/content-bg.png") no-repeat scroll 50% 50% transparent;
	color:#EB7400;	
}

div.imgContent {
	width: 720px;
	height: 409px;
	margin: 0 auto;
	color:#EB7400;
}

div#imgManContent {
	background:url("/img/men-content-bg.png") no-repeat scroll 50% 50% transparent;
}

div#imgWomenContent {
	background:url("/img/women-content-bg.png") no-repeat scroll 50% 50% transparent;
}

div#menuBg {
	filter:alpha(opacity=80); /* IE's opacity*/
	opacity: 0.8;
	width: 220px;
	height: 80px;
	background: #b58fda url() no-repeat top center; /* 808080 */
	position: relative;
	top: 220px;
	left: 270px;
}

div#menu {
	width: 300px;
	height: 170px;
	position: relative;
	top: 133px;
	left: 273px;
}

ul#menu {
	overflow:hidden;
	padding:10px 0 10px 10px;	
}

ul#menu li {
	padding-bottom: 10px;
	font-size: 14px;
	color: #003366;
}

ul#menu li a {
	color: #003366;
}

#fb {
	position: relative;
	top: 45px;
	left: 620px;
	margin-left: 20px;
	border: 0;	
	width: 100px;
}

span#fbLink {
	width: 18px;
	height: 18px;
	background:url("/img/fb_logo_18x18.png") no-repeat scroll 50% 50% transparent;
}

#lastMenu {
	width: 798px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
	background-color: #02050e;
	text-align: center;
}

#lastMenu ul {
	margin: 5px 0 0 110px;
	height: 20px;
}

#lastMenu li {
	float: left;
	padding-left: 20px;
}

#lastMenu li a {
	text-decoration: none;
	font-size: 12px;
}



a#appointment {
	text-decoration: none;
	font-size: 12px;
	color: #ffffff;
}

ul#menu li span#emailLink a {
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
}

span#icon {
	width: 18px;
	height: 18px;	
}

#content {
	margin: 0 auto;
	text-align: center;
	border: 0;	
}

/* POP UP */

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
/*  left:80%;*/
  right:15%;
/*  top:50%;*/
  top:450;
  width:440px;
  display:none;
  z-index:9999;
  padding:20px;
  color: #333333;
}

#boxes #dialogEmail {
  width:335px; 
  padding:10px;
  background-color:#c3c3c3;
}

#boxes #dialogMaile {
  width:400px; 
  padding:10px;
  background-color:#c3c3c3;
}

#boxes input,textarea, select {
	background-color: #969696;
	border: 0;
	font-size: 11px;
}

#boxes .close {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	color:#666666;
	text-align: right;
	width:100%;
	margin: 0;
	padding: 0;
}

input#Submit {
	margin: 10px 0;
	color: #ffffff;
}

#dialogJoinMailing .window {
	position:absolute;
	left:0;
	top:0;
	width:440px;
	display:none;
	z-index:999;
	padding:20px;
	color: #333333;
}

#boxes #dialogJoinMailing {
  width:315px; 
  padding:10px;
  background-color:#c3c3c3;
}


/* Main content */

table#mainContent {
	width: 100%;
}

tr#for {
	vertical-align: bottom;
	height: 100px;
}
td#emptyBeforMen {
	width: 70px;
}

span#for a {
	color: #cc99ff;
	font-size: 16px;
	text-decoration: none;
	font-family: "Times New Roman", Arial, Tahoma, Verdana, sans-serif, Lucida Sans;
	font-weight: bold;
	
}
span#details a {
	color: #ffffff;
	text-decoration: none;
}

/**/
#intropopup #popupcontent  #headContent div#desc ,
#intropopup #popupcontent  #headContent div#title {
	padding:0px;
}
.intropopup{
	padding:0px !important ;
	margin: 0px;
	z-index: 9005 !important;
	background-color:#000000;
}
#intropopup  .close{
	margin-right:5px;
	margin-top:3px;
	width: auto;
}
#intropopup  div#imgContent {
	padding:0px;
	margin: 0px;
	width: auto;
}

#intropopup {
	border: 1px solid #fff;
}
#intropopup div#menu {
	height:auto;
}
#intropopup #fb {
	margin: 0;
	height: 0;
}

/** Table in popup (last correction) **/

table.popup_content {
	width: 100%;
}

tr.first_floor {
	height: 210px;
}

tr.first_floor td.first {
	width: 73%;
}

tr.first_floor td.second {
	text-align: left;
	vertical-align: bottom;
	width: 27%;
}

tr.second_floor {
	height: 150px;
}

tr.second_floor td.first {
	text-align: left;
	vertical-align: bottom;
}
tr.second_floor td.second {
	text-align: left;
	vertical-align: bottom;
}

td.footer {
	height: 70px;
	text-align: center;
	vertical-align: bottom;
	font-size: 12pt;
	font-weight:bold;
	color: #333333;
	letter-spacing:4pt;
}

span.simple_text {
	color: #ffffff;
}

a.here {
	color: #003366;
}

#thank {
	width: 100%;
	margin: 0 auto;
	padding: 300px 0 0 0;
	text-align: center;
	font-size: 10pt;
}

span.error {
	color: #d83030;
}
