<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

  <title>Online Help</title>

  <meta name="revised" content="Peter Smith, 25/07/2008" />
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" /> 
  <meta name="description" content="The snippetMaster On&ndash;line Help Manual." />
  <meta name="keywords" content="snippetMaster,on&ndash;line,help,manual" />  

  <style type="text/css">
<!--

body { margin: 0;
       padding: 10px 0;
       font-family: Arial, Helvetica, sans-serif;
       background-color: #ffffff; 
       color: #000000; }

#page_container { width: 300px;
                  margin: 0 auto; }

table { width: 300px; }

td { background-color: #F2F2F2;
     font-size: 11px;
     color: #333333 }

*.aligntop { vertical-align: top; }

.centertext { text-align: center; }

-->
  </style> 

</head>
<body>

<div id="page_container">	<!-- start page_container -->

<table border="0" cellspacing="2px" cellpadding="3px">	<!-- start table -->
 <tr>
  <td colspan="2">

<h1 class="centertext">Online Help</h1>

   </td>
    </tr>
 <tr>
  <td colspan="2">

<strong>From The Editor Window</strong><br />

<ul>
 <li>
<a href="#change_font" title="Set or change font charateristics.">Set or change font charateristics</a>
  </li>
 <li>
<a href="#add_tables" title="Insert tables.">Insert tables</a>
  </li>
 <li>
<a href="#add_hrule" title="Insert ruler lines.">Insert ruler lines</a>
  </li>
 <li>
<a href="#utility_iconz" title="Handy utility icons.">Handy utility icons</a>
  </li>
 <li>
<a href="#add_hyper_linkz" title="">Hyper link to a web page</a>
  </li>
 <li>
<a href="#email_hyper_linkz" title="Email hyper link">Email hyper link</a>
  </li>
 <li>
<a href="#add_images" title="Insert images.">Insert images</a>
  </li>
</ul>

<strong>Create Content &ldquo;Offline&rdquo;</strong><br />

<ul>
 <li>
<a href="#note_pad" title="Using Windows Note Pad.">Using Windows Note Pad</a>
  </li>
 <li>
<a href="#ms_word" title="Using MS Word.">Using MS Word</a>
  </li>
 <li>
<a href="#uploadz" title="Uploading Files/Images.">Uploading Files/Images</a>
  </li>
</ul>

* You, the User, may or may not have the ability to upload, based on how the User is set up by the web site administrator.

   </td>
    </tr> 
 <tr> 
<td colspan="2" class="aligntop">

<strong id="change_font">To set or change font characteristics</strong><br />
<br />
You can change the look, size and color of your text. The first step is to select and 
highlight the text you want to format.

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/forecolor.gif" width="20px" height="20px" alt="Font colour." />
<img src="../includes/tiny_mce/themes/advanced/images/backcolor.gif" width="20px" height="20px" alt="Background colour." />

   </td>
  <td>

<b>Font &amp; Background Colors</b> &ndash; Here you can select the font color and a 
background color.<br />
<br />
[<b>Please note:</b> the background color is only behind the text and is not viable in Netscape]

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/bold.gif" width="20px" height="20px" alt="Bold." />
<img src="../includes/tiny_mce/themes/advanced/images/italic.gif" width="20px" height="20px" alt="Italic." />
<img src="../includes/tiny_mce/themes/advanced/images/underline.gif" width="20px" height="20px" alt="Underline." />
<img src="../includes/tiny_mce/themes/advanced/images/strikethrough.gif" width="20px" height="20px" alt="Strike through." />
<img src="../includes/tiny_mce/themes/advanced/images/sub.gif" width="20px" height="20px" alt="Sub script." />
<img src="../includes/tiny_mce/themes/advanced/images/sup.gif" width="20px" height="20px" alt="Super script." />
<img src="../includes/tiny_mce/themes/advanced/images/charmap.gif" width="20px" height="20px" alt="Custom characters." />

   </td>
  <td> 

<b>Special Style</b> &ndash; Select:

<ul>
 <li>
<b>Bold</b>
  </li>
 <li>
<em>Italic</em>
  </li>
 <li>
<u>Underline</u>
  </li>
 <li>
<s>strikethrough</s>
  </li>
 <li>
<sub>Sub</sub> script
  </li>
 <li>
<sup>super</sup> script
  </li>
 <li>
Custom characters.
  </li>
</ul>

   </td>
    </tr> 
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/justifyleft.gif" width="20px" height="20px" alt="Left align." />
<img src="../includes/tiny_mce/themes/advanced/images/justifycenter.gif" width="20px" height="20px" alt="Center align." />
<img src="../includes/tiny_mce/themes/advanced/images/justifyright.gif" width="20px" height="20px" alt="Right align." />
<img src="../includes/tiny_mce/themes/advanced/images/justifyfull.gif" width="20px" height="20px" alt="Full align." />

   </td>
  <td> 

<b>Alignment</b> &ndash; This aligns the selected text to the:

<ul>
 <li>
Left
  </li>
 <li>
Center
  </li>
 <li>
Right
  </li>
 <li>
Full
  </li>
</ul>

   </td>
    </tr>
 <tr> 
  <td>

	<!-- empty cell no image required -->

   </td>
  <td>

<b>Heading</b> &ndash; these are predefined text styles that can be selected from the drop down box. 

<ul>
 <li>
<b>Normal</b> - standard text
  </li>
 <li>
<b>Heading 1 &ndash; 6</b> (1 = large, 6 = small)
  </li>
 <li>
<b>Address</b> &ndash; Italic
   </li>
 <li>
<b>Formatted</b> &ndash; Preformatted text
  </li>
</ul>

   </td>
    </tr>
 <tr> 
  <td>

	<!-- empty cell no image required -->

   </td>
  <td>

<b>Font Style</b> &ndash; Select the font style from the drop down box.

   </td>
    </tr> 
 <tr>
  <td>

	<!-- empty cell no image required -->

   </td>
  <td>

<b>Font Size</b> &ndash; Select the size of the font from the drop down box.<br />
(1 = smaller, 7 = larger)

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/numlist.gif" width="20px" height="20px" alt="Numbered list." />
<img src="../includes/tiny_mce/themes/advanced/images/bullist.gif" width="20px" height="20px" alt="Bullet list." />

   </td>
  <td>

<b>Lists</b> &ndash; You can select either an ordered list or just a bulleted list. 
Once you start a list, every time you hit enter on your keyboard, a new item or 
bullet is added. Hit enter twice to end the list.

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/indent.gif" width="20px" height="20px" alt="Indent." />
<img src="../includes/tiny_mce/themes/advanced/images/outdent.gif" width="20px" height="20px" alt="Outdent." />

   </td>
  <td> 

<b>Indent</b> &ndash; These buttons allow you to indent your text. If you are creating 
a list, you can create an outline format:

<ul> 
  <li>
This
<ul>
 <li>
Is an
<ul> 
 <li>
Indented List
  </li>
</ul>
  </li>
</ul>
  </li>
</ul>

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/plugins/table/images/table.gif" width="20px" height="20px" alt="Add table." />

   </td>
  <td> 

<b id="add_tables">Table</b> &ndash; Tables are an extremely powerful tool for laying out data and images on an HTML page. They provide you with a way to add vertical and horizontal 
structure to your page. To insert a table:

<ul>
 <li>
Click where you want the table to appear
  </li>
 <li>
click the Table button
  </li>
 <li>
Specify the number of <b>rows</b>
  </li>
 <li>
Specify the number of <b>columns</b>
  </li>
 <li>
<b>Cell Padding</b>, specify the number of pixels between the cell content and the cell wall
  </li>
 <li>
<b>Cell Spacing</b>, specify the number of pixels between each table cell
  </li>
 <li>
<b>Width</b>, specify the width of the table as a number of pixels (&quot;550px&quot;) or as a 
percentage (&quot;75%&quot;) of the browser window.
  </li>
</ul>

   </td>
    </tr>
 <tr> 
  <td colspan="2" >

<b>Changing Tables</b> &ndash; Once you have created a table, these 
buttons will allow you to change the tables configuration.

   </td>
    </tr>
 <tr class="aligntop"> 
  <td>
 
<img src="../includes/tiny_mce/plugins/table/images/table_insert_row_after.gif" width="20px" height="20px" alt="Add row." />
<img src="../includes/tiny_mce/plugins/table/images/table_delete_row.gif" width="20px" height="20px" alt="Delete row." />

   </td>
  <td>
 
Add or Delete a <b>row</b>, these buttons add a row to the bottom of the table

   </td>
    </tr>
 <tr class="aligntop">
  <td>

<img src="../includes/tiny_mce/plugins/table/images/table_insert_col_after.gif" width="20px" height="20px" alt="Add column." />
<img src="../includes/tiny_mce/plugins/table/images/table_delete_col.gif" width="20px" height="20px" alt="Delete column." />

   </td>
  <td> 

Add or Delete a <b>Column</b>, These buttons will add a column to the right of your table

   </td>
    </tr>
 <tr> 
<td class="aligntop">

<img src="../includes/tiny_mce/plugins/table/images/table_merge_cells.gif" width="20px" height="20px" alt="Merge cells." />

   </td>
  <td> 

<ul>
 <li>
To<b> merge cells</b> click in the cells you want to merge, holding down 
the shift key (the cells must be adjacent to each other).
  </li>
 <li>
Click the Merge Cells button to combine selected cells, rows, or columns, creating one cell
  </li>
</ul>

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/plugins/table/images/table_split_cells.gif" width="20px" height="20px" alt="Split cells." />

   </td>
  <td>

<ul>
 <li>
To <b>Split cells </b> Click in the cell you want to split
  </li>
 <li>
Click the Split Cell button to divide a cell, creating two cells.
  </li>
</ul>

   </td>
    </tr>
 <tr class="aligntop">
  <td>

<img src="../includes/tiny_mce/plugins/table/images/table_cell_props.gif" width="20px" height="20px" alt="Cell properties." />

   </td>
  <td> 

<b>Cell</b> properties.

   </td>
    </tr>
 <tr class="aligntop">
  <td>

<img src="../includes/tiny_mce/plugins/table/images/table_delete.gif" width="20px" height="20px" alt="Delete table." />

   </td>
  <td>

<b>Delete</b> table.

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/visualaid.gif" width="20px" height="20px" alt="Guidelines." />

   </td>
  <td> 

<b>Toggle</b> guidelines/invisible elements.<br />
When you create a table, (rows and columns) this creates &ldquo;Guidelines&rdquo; in the Editor window.<br />
You can &ldquo;toggle&rdquo; these guidelines/invisible elements by using the toggle guidelines/invisible elements icon. 

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/plugins/advhr/images/advhr.gif" width="20px" height="20px" alt="Add horizontal rule." />

   </td>
  <td>

<b>Add</b> or <b>edit</b> a <b id="add_hrule">horizontal rule</b>.<br />
Select the Width as x, px (pixels) or %<br />
Select Height as Normal  or 1 through 7<br />
A horizontal  ruler line, width=50% and Height of line is 4 

   </td>
    </tr>
 <tr>
  <td colspan="2">

<strong id="utility_iconz">Handy Utility Icons</strong>

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/cut.gif" width="20px" height="20px" alt="Cut." />
<img src="../includes/tiny_mce/themes/advanced/images/copy.gif" width="20px" height="20px" alt="Copy." />
<img src="../includes/tiny_mce/themes/advanced/images/paste.gif" width="20px" height="20px" alt="Paste." />

   </td>
  <td> 

These are your <b>cut and paste</b> tools, use these to:

<ul> 
 <li>
<b>Cut</b> (ctrl + X) or deletes the highlighted item, 
  </li>
 <li>
<b>Copy</b> (ctrl + C) the text and
  </li>
 <li>
<b>Paste</b> (ctrl + V) the selected item.
  </li>
</ul>

Using these key commands you can quickly and easily copy text from your favorite word 
editor directly into your page.

   </td>
    </tr>
 <tr> 
  <td class="aligntop">

<img src="../includes/tiny_mce/plugins/searchreplace/images/search.gif" width="20px" height="20px" alt="Search." />

   </td>
  <td>

<b>Search</b> &ndash; This button brings up a search box so you can search your document 
for specific words.

   </td>
    </tr>
 <tr class="aligntop"> 
  <td>

<img src="../includes/tiny_mce/plugins/searchreplace/images/replace.gif" width="20px" height="20px" alt="Find and replace." />

   </td>
  <td>

<b>Find</b> and <b>replace</b> specific characters or words in your document.

   </td>
    </tr>
 <tr class="aligntop"> 
  <td>

<img src="../includes/tiny_mce/themes/advanced/images/cleanup.gif" width="20px" height="20px" alt="Clean up code." />

   </td>
  <td>

<b>Clean up</b> code.

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/code.gif" width="20px" height="20px" alt="HTML code." />

   </td>
  <td>

This button &ldquo;toggles&rdquo; between the <b>WYSIWYG</b> view (the default view) and <b>HTML</b> view where you see and edit the code.

   </td>
    </tr>
 <tr class="aligntop">
  <td>

<img src="../includes/tiny_mce/themes/advanced/images/removeformat.gif" width="20px" height="20px" alt="Remove format code." />

   </td>
  <td>

<b>Remove</b> format code.

   </td>
    </tr>
 <tr class="aligntop">
  <td>

<img src="../includes/tiny_mce/themes/advanced/images/undo.gif" width="20px" height="20px" alt="Undo." />

   </td>
  <td> 

<b>Undo</b> the last task.

   </td>
    </tr>
 <tr class="aligntop">
  <td>

<img src="../includes/tiny_mce/themes/advanced/images/redo.gif" width="20px" height="20px" alt="Redo." />

   </td>
  <td>

<b>Redo</b> the last task.

   </td>
    </tr>
 <tr class="aligntop">
  <td>

<img src="../includes/tiny_mce/themes/advanced/images/unlink.gif" width="20px" height="20px" alt="Unlink." />

   </td>
  <td>

<b>unlink</b>

   </td>
    </tr>
 <tr class="aligntop">
  <td>

<img src="../includes/tiny_mce/plugins/fullscreen/images/fullscreen.gif" width="20px" height="20px" alt="Full screen." />

   </td>
  <td>

<b>Toggle</b> full screen mode.

   </td>
    </tr>
 <tr class="aligntop">
  <td>

<img src="../includes/tiny_mce/themes/advanced/images/help.gif" width="20px" height="20px" alt="Help." />

   </td>
  <td>

<b>Editor</b> version and credits.

   </td>
    </tr>
 <tr> 
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/link.gif" width="20px" height="20px" alt="Add Link." />

   </td>
  <td>

<b id="add_hyper_linkz">Link</b> &ndash; To add a link to a page 

<ul>
 <li>
Highlight the text you want to link from
  </li>
 <li>
Click the link button
  </li>
 <li>
Select the page from the list on your server
  </li>
 <li>
If the link is to a page that is not on your server, simply type the address in starting 
with http://www.
  </li>
 <li>
<b>Select the Target</b>, this is how the new page will be displayed. Your options are:
<ul>
 <li>
<b>Same Page</b> &ndash; The new page will replace this page (the most typical option)
  </li>
 <li>
<b>Top of Page</b> &ndash; loads the linked document in the full browser window, removing all frames
  </li>
 <li>
<b>New Window</b> &ndash; loads the linked document in a new, browser window (like a pop-up 
window)
  </li>
</ul>
  </li>
</ul>

<b id="email_hyper_linkz">E-mail link</b> &ndash; To create a link so your visitors can send you an e-mail

<ul>
<li>
Highlight the text
  </li>
 <li>
Delete the http in the link box
  </li>
 <li>
type <b>mailto:yourname@comapny.com</b>
  </li>
</ul>

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/anchor.gif" width="20px" height="20px" alt="Add anchor." />

   </td>
  <td>

<b>Insert</b> or <b>edit</b> anchor.<br />
An Anchor is a text hyper link in your web page TO a section or line in the same web page.<br />
Example: say, if at the top of your web page you have Chapter 1, Chapter 2,... and wish to link the text "Chapter 2" to the area of the page detailing Chapter 2.

<ul>
 <li>
First: select the destination text within your file. (the TO)
  </li>
 <li>
Then click the <b>anchor</b> Icon to Insert/edit anchor. (Enter a anchor description like Chapter 2 )
  </li>
 <li>
Second: At the top of your web page, the "Chapter 2", <img src="../includes/tiny_mce/themes/advanced/images/link.gif" width="18px" height="18px" alt="Link." align="top" /> link this to the the anchor name by selecting it from the General tab, Anchors: Drop Down list.
  </li>
</ul>

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/image.gif" width="20px" height="20px" alt="Add image." />

   </td>
  <td>

<b id="add_images">Images</b> - You can add images to your web pages from the files on your server:

<ul>
 <li>
Click on the page where you want the image to be placed
  </li>
 <li>
Click the image button
  </li>
 <li>
Browse to the images on your server
  </li>
 <li>
Click to see a preview
  </li>
 <li>
Select your options:
  </li>
 <li>
<b>Alternate text</b> &ndash; Enter a description of the image (this is very helpful to those who rely on a voice to read your pages to them)
  </li>
 <li>
<b>Hyperlink Text</b> &ndash; If you want the image to be a link to a new page, type in the address here (http://www. ) Then select the target (see link above).
  </li>
 <li>
<b>Layout</b> &ndash; Now you can adjust how your image is placed on the page:
<ul>
 <li>
<b>Alignment</b> &ndash; This is how your image relates to the other elements on your page; for example the text. Do you want your image to the (left, right, top middle or bottom) of the text?
  </li>
 <li>
<b>Borders</b> &ndash; Here you can add a border around your image. Borders are measured in pixels.
  </li>
 <li>
<b>Spacing</b> &ndash; Here you can adjust distance from the top or edge of your page to your image. This is measured in pixels.
  </li>
</ul>
  </li>
 <li>
Click the "Insert" button.
  </li>
</ul>

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/themes/advanced/images/browse.gif" width="20px" height="18px" alt="Upload." />

   </td>
  <td> 

<b id="uploadz">Upload</b> &ndash; This is where you can upload images or files to your server 
so you can include them in your web pages.

<ul>
 <li>
Click the button,
  </li>
 <li>
Select the destination (for images, you probably want to upload them to your &quot;image&quot; 
directory)
  </li>
 <li>
Browse your computer to find the file you want.
  </li>
 <li>
Click upload. It may take a few minutes to upload large files.
  </li>
</ul>

   </td>
    </tr>
 <tr>
  <td class="aligntop">

<img src="../includes/tiny_mce/plugins/paste/images/pastetext.gif" width="20px" height="20px" alt="Plain text." />

   </td>
  <td>

<b id="note_pad">Paste</b> as <b>Plain Text</b>.<br />
Create content &ldquo;offline&rdquo; on your computer, using an ascii text program like Windows Note Pad.

<ul>
 <li>
Start&ndash;Programs&ndash;Accessories&ndash;Note Pad
  </li>
 <li>
Enter your text on as many lines as you need, do NOT use the file&ndash;font.
  </li>
 <li>
File&ndash;Save Name and save this file as anyfilenameyouwant.txt on your computer in any folder.
  </li>
 <li>
Select All the text from this file using your mouse and then File&ndash;Copy.(this will place ALL the text on your Windows Clip Board)
  </li>
 <li>
Select the paste as <b>Plain Text</b> icon.
  </li>
 <li>
Set the insertion point with your mouse at the top of the Pop Up Window.<br />
Do not turn &ldquo;off&rdquo; the Check box, Keep Linebreaks.
  </li>
 <li>
From your Key Pad, CTRL+V(this will Paste the text from your Windows Clip Board)
  </li>
 <li>
Click the &ldquo;insert&rdquo; button.
  </li>
 <li>
You can now select some text and use the Editor Icons as required, like Bold,...
  </li>
</ul>

   </td>
    </tr>
 <tr>
  <td>

<img src="../includes/tiny_mce/plugins/paste/images/pasteword.gif" width="20px" height="20px" alt="MS Word." />

   </td>
  <td>

<b id="ms_word">Paste</b> from <b>MS Word</b>.<br />
Create content &ldquo;offline&rdquo; on your computer, using your existing MS Word *.doc file/s.<br />
You can use all the MS Word short cut icons, like Bold, to format your text.

<ul>
 <li>
Select All the text from the file using your mouse and then File&ndash;Copy.(this will place ALL the formatted text into your Windows Clip Board)
  </li>
 <li>
Log into the snippetMaster program and open the *.htm file you wish to edit
  </li>
 <li>
Set the insertion point using your mouse.(at the top of the editor window)
  </li>
 <li>
Select the <b>paste</b> from <b>MS Word</b> icon
  </li>
 <li>
From your Key Pad, CTRL+V(this will paste the formatted text from your Windows Clip Board)
  </li>
 <li>
Click the &ldquo;Insert&rdquo; button.
  </li>
 <li>
You can now select some text and use the Editor Icons if required, like Bold,...
  </li>
</ul>

   </td>
    </tr>
</table>	<!-- end table -->

</div>	<!-- end page_container -->

</body>
</html>